@page "/SystemAdministration"
@using HQSOFT.SystemAdministration.Localization
@using Microsoft.Extensions.Localization
@using global::HQSOFT.CoreBackend.Localization
@inject IStringLocalizer<SystemAdministrationResource> L
@{
}
<h1>SystemAdministration</h1>
<p>@L["SamplePageMessage"]</p>