@page
@using Microsoft.Extensions.Localization
@using HQSOFT.SystemAdministration.Localization
@using HQSOFT.SystemAdministration.Web.Pages.SystemAdministration
@model HQSOFT.SystemAdministration.Web.Pages.SystemAdministration.IndexModel
@inject IStringLocalizer<SystemAdministrationResource> L

@{
}
<h1>SystemAdministration</h1>
<p>@L["SamplePageMessage"]</p>
